{% extends 'base.html.twig' %}

{% block title %}Modifier Cursus{% endblock %}

{% block body %}
<section class="page">
    <h1 class="page-title">✏️ Modifier le cursus</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
</section>
{% endblock %}
